tyzl/XML文档约束/person.xsd

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.tracywindy.org/person"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="person">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="firstname" type="xs:string"/>
	      <xs:element name="lastname" type="xs:string"/>
	    </xs:sequence>
	    <xs:anyAttribute/>
	  </xs:complexType>
	</xs:element>
 </xs:schema>