txzl/WebContent/WEB-INF/chartsXml/chart-1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tracywindy.org/chart"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
     <xs:element name="chart-root">
         <xs:complexType>
             <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="chart" >
                   <xs:complexType>
	                    <xs:sequence>
		                 <xs:element minOccurs="1" maxOccurs="1" name="data">
		                     <xs:complexType>
		                         <xs:sequence>
		                             <xs:element minOccurs="1" maxOccurs="1" name="alldb">
		                               <xs:complexType>
		                                 <xs:sequence>
		                                    <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
		                                 </xs:sequence>
		                               </xs:complexType>
		                             </xs:element>
		                             <xs:element minOccurs="0" maxOccurs="1" name="oracle">
		                               <xs:complexType>
		                                 <xs:sequence>
		                                    <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
		                                 </xs:sequence>
		                               </xs:complexType>
		                             </xs:element>
		                             <xs:element minOccurs="0" maxOccurs="1" name="sqlserver">
		                               <xs:complexType>
		                                 <xs:sequence>
		                                    <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
		                                 </xs:sequence>
		                               </xs:complexType>
		                             </xs:element>
		                             <xs:element minOccurs="0" maxOccurs="1" name="mysql">
		                               <xs:complexType>
		                                 <xs:sequence>
		                                    <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
		                                 </xs:sequence>
		                               </xs:complexType>
		                             </xs:element>
		                             <xs:element minOccurs="0" maxOccurs="1" name="db2">
		                               <xs:complexType>
		                                 <xs:sequence>
		                                    <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
		                                 </xs:sequence>
		                               </xs:complexType>
		                             </xs:element>
		                             <xs:element minOccurs="0" maxOccurs="1" name="sybase">
		                               <xs:complexType>
		                                 <xs:sequence>
		                                    <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
		                                 </xs:sequence>
		                               </xs:complexType>
		                             </xs:element>
		                             <xs:element minOccurs="0" maxOccurs="1" name="flt" type="xs:string" />
		                             <xs:element minOccurs="0" maxOccurs="1" name="dataSource" type="xs:string" />
		                             <xs:element minOccurs="0" maxOccurs="1" name="show_sql" type="xs:boolean" />
		                         </xs:sequence>
		                    </xs:complexType>
		                 </xs:element>
		                 <xs:element  minOccurs="0" maxOccurs="1" name="other" type="xs:string"/>
	                   </xs:sequence>
	                   <xs:anyAttribute processContents="skip"/>
                   </xs:complexType>
                </xs:element>
             </xs:sequence>
         </xs:complexType>
    </xs:element>
 </xs:schema>